body{
    background-color: #141414;
}

#all{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    
}

.container{
    background-color: #1F1F1F;
    display:inline-block;
    width: 25%;
    height: 80%;
    border-radius: 2%;
}

.perfil{
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

#ft-mulher{
    border-radius: 50%;
    width: 5em;
}

#infos{
    text-align: center;
}

#infos h1{
    color: #ECECEC;
    font-family: Inter-VariableFont, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#infos h4{
    color: #BCDD4C;
    font-family: Inter-VariableFont, sans-serif;
    font-weight: 550;
    margin-top: -2vh;
    font-size: 12px;
}

#infos p{
    color: #ECECEC;
    font-family: Inter-VariableFont, sans-serif;
    font-size: 13px;
    margin-top: 4vh;
}

.content{
    color: #ECECEC;
    font-family: Inter-VariableFont, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 2vh;
}

.buttons{
    background-color: #333333;
    width: 85%;
    margin-bottom: 15px;
    display: inline-block;
    border-radius: 10px;
    
}

.attribution {
    font-size: 11px; text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.attribution a {
    color: hsl(226, 12%, 21%);
}